body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 986px;
    background-color: #3693cc;
}

h2 {
    color: #a3b808;
}

p {
    color: #000000;
}

a {
    color: rgb(18, 185, 107);
    text-decoration-color: brown;
}

a:hover {
    text-decoration: underline;
}
