body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 100px;
}

form {
    background-color: aquamarine;
    color: #000000;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
