<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css') }}">
</head>
<body>

<div class="container">
    <div class="video-section">
        <h2>Uploaded Video</h2>
        <video width="695" height="480" controls>
            <source src="{{ url_for('static', filename='videos/UploadedVideo.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="video-section">
        <h2>Processed Video</h2>
        <video width="695" height="480" controls>
            <source src="{{ url_for('static', filename='videos/ProcessedVideo.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

</body>
</html>
