<!DOCTYPE html>
<html>
   <head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}"></head>
   <body>
      <header>
         Uploading page
      </header>
      <nav>
         <a href="/">Home</a> |
         <a href="/about">About</a> |
         <a href="/upload">Upload</a>
     </nav> 
      <section>
       <p>Upload the file here </p>  
      </section>
      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      <footer>
         <p>&copy; Contacts</p>
     </footer>
   </body>
</html>
